@import "~@angular/material/theming";
@include mat-core();

$infy-blue: (
    50 : #e5f0fc,
    100 : #bed9f7,
    200 : #93c0f1,
    300 : #68a6eb,
    400 : #4793e7,
    500 : #2780e3,
    600 : #2378e0,
    700 : #1d6ddc,
    800 : #1763d8,
    900 : #0e50d0,
    A100 : #fcfdff,
    A200 : #c9d9ff,
    A400 : #96b6ff,
    A700 : #7da4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$infy-teal: (
    50 : #eaf8fe,
    100 : #caedfd,
    200 : #a7e1fb,
    300 : #83d4f9,
    400 : #69cbf8,
    500 : #4ec2f7,
    600 : #47bcf6,
    700 : #3db4f5,
    800 : #35acf3,
    900 : #259ff1,
    A100 : #ffffff,
    A200 : #f8fcff,
    A400 : #c5e6ff,
    A700 : #acdcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// $primary: mat-palette($mat-indigo, A400, A200, A700);
// $accent: mat-palette($mat-pink, A400, A200, A700);
$primary: mat-palette($infy-blue);
$accent: mat-palette($infy-teal);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
