<mat-card class="roomCard">
  <mat-card-content>
    <mat-card-title>Larry Bird</mat-card-title>
    <mat-card-subtitle>Room</mat-card-subtitle>
    <h1 class="status-text">Free</h1>
    <p>Sometimes, you gotta pretend everything is okay.</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="eventDialog.openDialog(room)">Book</button>
    <button mat-raised-button [routerLink]="['/floor-map']">Floor Map</button>
    <button mat-raised-button [routerLink]="['/calendar']">Calendar</button>
  </mat-card-actions>
</mat-card>
