@import 'src/sass/variables';
$calendarWidth: 46%;
$eventsWidth: calc(100% - #{$calendarWidth} - 2%);
$eventHeaderMargin: .8rem;
$eventsHeight: calc(100vh - (#{$toolbarHeight} + #{$contentMarginVert} * 2));
$eventsListHeight: calc(#{$eventsHeight} - (#{$toolbarHeight} * 2 + #{$eventHeaderMargin}));

.cal-view {
  height: $eventsHeight;
  overflow: hidden;
}

mat-calendar {
  float: left;
  width: $calendarWidth;
}

.event {
  border-color: $primary;
  border-style: solid;
  border-width: thin;
}

.eventHeader {
  margin-bottom: $eventHeaderMargin;
  z-index: 9;

  mat-toolbar-row {
    justify-content: center;

    &:last-of-type {
      background-color: $accentLighter;
    }
  }
}

.eventsList {
  width: $eventsWidth;
  // height: $eventsHeight;
  float: right;
  overflow: hidden;
  will-change: overflow;

  .eventList {
    height: $eventsListHeight;
  }
}

.cal-fab {
  position: absolute !important;
  right: 15px;
  bottom: 15px;
  z-index: 10;
}
