<div class="cal-view">
  <mat-calendar #myDate (selectedChange)="getChangedValue($event)"></mat-calendar>
  <div class="eventsList">
    <mat-toolbar class="eventHeader" color="accent">
      <mat-toolbar-row>
        <span>Tuesday, May 8 2018</span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <mat-form-field>
          <mat-select xPosition="before" yPosition="below" [(value)]="room">
            <mat-option value="Larry Bird">Larry Bird</mat-option>
            <mat-option value="Hoosier">Hoosier</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>

    <infy-cal-event-list class="eventList"></infy-cal-event-list>
  </div>

  <button
    mat-fab
    aria-label="Open create event dialog"
    class="cal-fab"
    (click)="eventDialog.openDialog(room)">
    <mat-icon>create</mat-icon>
  </button>
</div>
