@import 'src/sass/variables';
$calendarWidth: 46%;
$eventsWidth: calc(100% - #{$calendarWidth} - 4%);

mat-calendar {
  float: left;
  width: $calendarWidth;
}

.event {
  border-color: $primary;
  border-style: solid;
  border-width: thin;
}

.eventHeader {
  float: right;
  width: $eventsWidth !important;

  mat-toolbar-row {
    justify-content: center;

    &:last-of-type {
      background-color: $accentLighter;
    }
  }
}

.cal-fab {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
